@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Global Styles */

ul li{
  list-style: none;
}

a{
  text-decoration: none;
}

/* Global Classes */
.flex{
  display: flex;
}

.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}

.text-gray{
  color: #424242; /* dark 02 */
}

.text-light-gray{
  color: #727272; /* dark 03 */
}

.btn-primary{
  background-color: #FF900E;
  color: white;
  padding: 20px 25px;
  text-transform: capitalize;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
}

main > section{
  margin-top: 130px;
}


/* header area */

.navbar{
  justify-content: space-between;
  align-items: center;
}

.brand{
  font-weight: 700;
  font-size: 3rem;
}

.nav-links{
  gap: 20px;
  text-transform: capitalize;
}


.navbar,
.banner,
main{
  max-width: 1440px;
  margin: 0 auto;
}



.banner-content{
  max-width: 860px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title{
  font-weight: 700;
  font-size: 4rem;
}

.banner-img{
  width: 100%;
}


/* Teams Area */

.teams{
  align-items: center;
  gap: 130px;
}

.teams-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.our-features{
  max-width: 530px;
}

.features-title{
  font-size: 2.8rem;
  font-weight: 700;
}

#quick-list{
  color: #727272;
  font-weight: 500;
}
#features{
  color: #FF900E;
}
















/* Responsive Media Query */

@media screen and (max-width: 576px){
  .navbar,
  .nav-links,
  .teams{
    flex-direction: column;
  }

  .teams{
    
    gap: 20px
  }

  .teams-img-container{
    grid-template-columns: repeat(1, 1fr);
  }

  .our-features{
    padding: 0 30px;
  }
}


@media screen and (min-width: 576px) and (max-width: 992px){
  .teams{
    flex-direction: column;
  }
  .our-features{
    margin: 50px auto;
  }
}