
header{
	width: 800px;
	height: 400px;
	background-image: url("https://avatars.githubusercontent.com/u/199342183?v=4");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

div{
	background: aqua;
	width: 600px;
	margin: 30px;
	padding: 10px;
	box-shadow: 10px 10px 10px red;
}

div h1{
	color: red;
}