@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Global Styles */

ul li{
  list-style: none;
}

a{
  text-decoration: none;
}

/* Global Classes */
.flex{
  display: flex;
}

.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}

.text-gray{
  color: #424242; /* dark 02 */
}

.text-light-gray{
  color: #727272; /* dark 03 */
}






/* header area */

.navbar{
  justify-content: space-between;
}

.nav-links{
  gap: 20px;
  text-transform: capitalize;
}


.navbar,
.banner{
  max-width: 1440px;
  margin: 0 auto;
}










