nav ul{
    display: flex;
    gap: 10px;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: red;
    padding: 12px 32px;
}

nav ul li a:hover{
    background-color: lightblue;
}